.pokemon-quiz-question {
    &-card {
        width: 40rem;
        &--header {
            display: flex;
        }

        &--title {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &--pokemon {
            margin-left: 15px;
            width: 40%;
        }

        &--button {
            text-transform: capitalize;
        }
        &--footer {
            display: flex;
            align-items: center;
        }
    }
  }

.ml-15 {
    margin-left: 15px;
}

.ml-30 {
    margin-left: 15px;
}