.pokemon-quiz {
    &-question {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1ch;
        margin-top: 100px;
        &-counter {
            display: flex;
            justify-content: flex-end;
            font-size: larger;
            font-weight: bold;
        }
    }
}